.container {
    background-color: #fff;
    border-radius: 3em;
    position: absolute;
    right: 11%;
    top: 5%;
    bottom: 5%;
    width: 78%;
    text-align: center;
    overflow-y: auto;
}

.close-button__image {
    position: fixed;
    top: 70px;
    right: 192px;
    width: 32px;
}

.back-button {
    position: fixed;
    top: 50px;
    left: 192px;
    color: #154319;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}

.fa-angle-double-left {
    padding-right: 10px;
    font-size: 23px;
    font-weight: bold;
}