.container {
    background-color: white;
    border-radius: 3em;
    position: absolute;
    right: 23%;
    top: 10%;
    width: 55%;
    text-align: center;
}

.close-button__image {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
}