body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url('./assets/images/background.png');
  background-size: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  color: #815428;
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  margin-bottom: 50px;
  margin-top: 50px;
}

span.version {
  font-family: 'Tenor Sans', sans-serif;
}

.logo {
  height: 120px;
}

.instruction {
  color: #154319;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.7;
}

.instruction-command {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

