.action-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.dog-breeds-button {
    margin-top: 44px;
}

.dog-breeds-button img {
    width: 77px;
}