.arrow-button {
    margin-bottom: 87px;
    width: 3%;
    cursor: pointer;
}

.audio-button {
    margin: 30px 0;
    width: 8%;
    cursor: pointer;
}

.audio-button--pressed {
    opacity: 0.5;
}
