.retry-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.retry-link-yes {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #154319;
    margin-right: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.retry-link-no {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: red;
    margin-left: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.audio-bar {
    margin: 0 auto;
}

