.custom-button {
    border: none;
    border-radius: 50px;
    background-color: white;
    box-shadow: 2px 4px 6px #c1c1c1;
    padding: 11px 44px;
    margin: 15px 10px;
    cursor: pointer;
}

.custom-button:focus {
    outline: none;
}

.button-label {
    color: #154319;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 15px;
}
